[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kali/Desktop/1.desktop]
row=0
col=15

[/home/kali/Desktop/xfce4-terminal-emulator.desktop]
row=0
col=14

[/home/kali/Desktop/tspreed instuctions.nvim]
row=0
col=13

[/home/kali/Desktop/off.desktop]
row=0
col=17

[/home/kali/Desktop/toipe]
row=0
col=12

[/home/kali/Desktop/on.desktop]
row=0
col=16

[A612877912874D6D]
row=0
col=2

[4E21-0000]
row=0
col=3

[Trash]
row=1
col=0

[/]
row=0
col=1

[/home/kali]
row=0
col=0

