[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kali/Desktop/xfce4-terminal-emulator.desktop]
row=5
col=0

[/home/kali/Desktop/extending shrinking instructions]
row=1
col=1

[/home/kali/Desktop/New File]
row=1
col=0

[/home/kali/Desktop/on (4600k).desktop]
row=4
col=0

[/home/kali/Desktop/nvoa.nvim]]
row=3
col=0

[/home/kali/Desktop/on.desktop]
row=2
col=0

[/home/kali/Desktop/off.desktop]
row=0
col=0

[142c37324553442d]
row=2
col=1

[4E21-0000]
row=0
col=3

[94B6485EB648434A]
row=3
col=1

[Trash]
row=0
col=2

[/]
row=0
col=1

[/home/kali]
row=6
col=0

